{% extends "layout.html" %}

{% block title %}Home | MyApp{% endblock %}

{% block content %}

<div class="text-center mb-5">
    <h1 class="fw-bold">Welcome to the Dashboard</h1>
    <p class="text-muted fs-5">Manage data, export files, and send bulk emails easily.</p>
</div>

<div class="row g-4">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h4>Data Import</h4>
                <p class="text-muted">Upload and store CSV data.</p>
                <a href="{% url 'home' %}" class="btn btn-primary w-100">Go</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h4>Data Export</h4>
                <p class="text-muted">Download processed data.</p>
                <a href="{% url 'export' %}" class="btn btn-success w-100">Go</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h4>Bulk Emailing</h4>
                <p class="text-muted">Send mass emails efficiently.</p>
                <a href="{% url 'send_email' %}" class="btn btn-danger w-100">Go</a>
            </div>
        </div>
    </div>


     <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h4>Tracking Email</h4>
                <p class="text-muted">Track the email open & clicked rates.</p>
                <a href="{% url 'track_dashboard' %}" class="btn btn-danger w-100">Go</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
