{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login | MyApp{% endblock %}

{% block content %}

<div class="card shadow-sm mx-auto" style="max-width: 450px;">
    <div class="card-body">

        <h2 class="fw-bold mb-4 text-center">Login</h2>

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            {{ form|crispy }}

            <button type="submit" class="btn btn-primary w-100 mt-2">
                Login
            </button>

            <div class="text-center mt-3">
                <small class="text-muted">
                    Don’t have an account?
                    <a href="{% url 'register' %}">Register</a>
                </small>
            </div>

        </form>

    </div>
</div>

{% endblock %}
